{% extends "base.html" %}
{% block content %}
<h4>Total {{ services | length }} services found</h4>
<div class='d-flex row my-3'>
    {% for service in services %}
        <div class='card col-2 m-3'  style="width: 38rem;">
            <img src="{{ service.image.url }}" alt="{{ service.name }}"> 
            <h3>Name: {{ service.service_name }}</h3>
            <p>Borrowing Price: ${{ service.price }}</p>
            <p>Description: {{service.description}}</p>
            {% if request.user.is_admin %}
            <button type="button" class="btn btn-warning admin-error" data-message="This action is not available for admins">Take Service</button><br>
            <button type="button" class="btn btn-warning my-2 admin-error" data-message="This action is not available for admins">Add to Cart</button>
        {% else %}
            <button type="button" class="btn btn-warning"><a href="{% url 'take_service' service.id %}" style="text-decoration: none;">Take Service</a></button><br>
            <button type="button" class="btn btn-warning my-2"><a href="{% url 'add_to_cart' service.id %}" style="text-decoration: none;">Add to Cart</a></button>
        {% endif %}
        </div>
    {% endfor %}
</div>
<script>
    const adminErrorButtons = document.querySelectorAll('.admin-error');
    
    adminErrorButtons.forEach(button => {
      button.addEventListener('click', () => {
        alert(button.dataset.message); // Use a more suitable method like displaying a popup or inline message
      });
    });
    </script>
{% endblock content %}